{% load i18n %}
<form method="{{ method|default:'post' }}" action="{{ action }}">
  {% csrf_token %}

  {# глобальные non_field_errors формы #}
  {% if form and form.non_field_errors %}
    <ul class="messages">
      {% for e in form.non_field_errors %}
        <li>{{ e }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {# поля #}
  {% if form %}
    {% for field in form %}
      {% include "allauth/elements/field.html" with field=field %}
    {% endfor %}
  {% endif %}

  <div style="margin-top:12px">
    <button type="submit" class="btn">
      {% firstof submit_label %}{% trans "Submit" %}
    </button>
  </div>
</form>
