{% extends "base.html" %}
{% load i18n %}
{% block title %}Восстановление пароля — NewUser{% endblock %}
{% block content %}
  <h1>{% trans "Восстановление пароля" %}</h1>
  {% if user.is_authenticated %}
    <p>{% trans "Вы вошли как" %}<strong>{{ user.email }}</strong>.</p>
    <p>{% trans "Можете отправить ссылку на сброс пароля." %}</p>
  {% else %}
    <p>{% trans "Укажите адрес электронной почты для отправки ссылки на сброс." %}</p>
  {% endif %}
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">{% trans "Отправить ссылку" %}</button>
  </form>
{% endblock %}